
.vs/aides/FileContentIndex/e34ed4c4-a255-4a5a-b9fe-31eb0ddf056d.vsidx
.vs/aides/FileContentIndex/read.lock
.vs/aides/v17/.suo
.vs/aides/v17/Browse.VC.db
.vs/aides/v17/Browse.VC.db-shm
.vs/aides/v17/Browse.VC.db-wal
.vs/aides/v17/Browse.VC.opendb
.vs/aides/v17/ipch/AutoPCH/ce3f372a530a4ab9/AIDES.ipch
